﻿@keyframes loading-cubes {
	25% {
		transform: translateX(200%) rotate(-90deg) scale(0.5);
	}

	50% {
		transform: translateX(200%) translateY(200%) rotate(-179deg);
	}

	50.1% {
		transform: translateX(200%) translateY(200%) rotate(-180deg);
	}

	75% {
		transform: translateX(0px) translateY(200%) rotate(-270deg) scale(0.5);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes ep-show {
	from {
		opacity: .25;
	}

	to {
		opacity: 1;
	}
}

@keyframes ep-slide-down {
	from {
		transform: translateY(-100px);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes ep-grow {
	from {
		transform: scale(.5);
	}

	to {
		transform: scale(1);
	}
}

@keyframes ep-grow-bounce {
	0% {
		transform: scale(.5);
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes ep-flip-down {
	from {
		transform: perspective(100px) rotateX(-90deg);
	}

	to {
		transform: perspective(100px) rotateX(0);
	}
}

@keyframes ep-drop-bounce {
	0% {
		transform: translateY(-100px);
	}

	50% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0);
	}
}
